In [17]:
from sklearn.cluster import KMeans
import sklearn.datasets
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
import pandas as pd

dataset = sklearn.datasets.load_iris(as_frame=True)

# Run PCA on all of the Iris dataset
pca = PCA()

X_all = (dataset
     ['data']
)
y = dataset['target']
pca.fit(X_all)
X_pca = pca.transform(X_all)

In [18]:
# Weights are just multipliers in the linear combination
# ax + by + cz

In [19]:
components = pd.DataFrame(pca.components_, columns=X_all.columns,
                          index=['PC1', 'PC2', 'PC3', 'PC4'])
                          
components

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
PC1           0.361387         -0.084523           0.856671          0.358289
PC2           0.656589          0.730161          -0.173373         -0.075481
PC3          -0.582030          0.597911           0.076236          0.545831
PC4           0.315487         -0.319723          -0.479839          0.753657

In [20]:
def rename_pc0_to_PC1(col):
    num = int(col[3:]) + 1
    return 'PC' + str(num)

# Centered data
X_all - X_all.mean()
sklearn.set_config(transform_output='pandas')
pca.transform(X_all).rename(columns=rename_pc0_to_PC1)

# PC1 is in 1 dimension
# PC2 is orthogonal to PC1
# PC3 is orthogonal to PC1 and PC2
# PC4 is orthogonal to PC1, PC2, and PC3

          PC1       PC2       PC3       PC4
0   -2.684126  0.319397 -0.027915  0.002262
1   -2.714142 -0.177001 -0.210464  0.099027
2   -2.888991 -0.144949  0.017900  0.019968
3   -2.745343 -0.318299  0.031559 -0.075576
4   -2.728717  0.326755  0.090079 -0.061259
..        ...       ...       ...       ...
145  1.944110  0.187532  0.177825  0.426196
146  1.527167 -0.375317 -0.121898  0.254367
147  1.764346  0.078859  0.130482  0.137001
148  1.900942  0.116628  0.723252  0.044595
149  1.390189 -0.282661  0.362910 -0.155039

[150 rows x 4 columns]

In [21]:
# Manually calculating PCA with numpy
import numpy as np
nums = X_all - X_all.mean()
vals, vecs = np.linalg.eig(nums.cov())
idxs = pd.Series(vals).argsort()

explained_variance = pd.Series(sorted(vals, reverse=True))

def set_columns(df_):
    df_.columns = [f'PC{i+1}' for i in range(len(df_.columns))]
    return df_

comps = (pd.DataFrame(vecs, index=nums.columns)
 .iloc[:, idxs[::-1]]
 .pipe(set_columns)
)

pcas = (nums.dot(comps))
pcas

          PC1       PC2       PC3       PC4
0   -2.684126 -0.319397 -0.027915  0.002262
1   -2.714142  0.177001 -0.210464  0.099027
2   -2.888991  0.144949  0.017900  0.019968
3   -2.745343  0.318299  0.031559 -0.075576
4   -2.728717 -0.326755  0.090079 -0.061259
..        ...       ...       ...       ...
145  1.944110 -0.187532  0.177825  0.426196
146  1.527167  0.375317 -0.121898  0.254367
147  1.764346 -0.078859  0.130482  0.137001
148  1.900942 -0.116628  0.723252  0.044595
149  1.390189  0.282661  0.362910 -0.155039

[150 rows x 4 columns]

In [ ]:
# plot with plotly (not working in Python 3.12.10)